<div class="bg-light py-3">
    <div class="container-fluid d-flex flex-row">
        <div class="container col-4">
            <h5>Ciudad de destino</h5>
            <select class="form-control" id="destino">
                <option value="">Selecciona una ciudad</option>
                <option value="madrid">Madrid</option>
                <option value="barcelona">Barcelona</option>
                <option value="valencia">Valencia</option>
                <option value="bilbao">Bilbao</option>
                <option value="sevilla">Sevilla</option>
            </select>
        </div>
        <div class="container col-8 mb-3">
            <h5>Duración de la estancia</h5>
            <div class="d-flex flex-row">
                <label class="m-2">Entrada</label>
                <input type="date" class="form-control" min="currentDate">
                <label class="m-2">Salida</label>
                <input type="date" class="form-control">
            </div>
        </div>
    </div>
   
    <div class="container d-flex flex-row">
        <div class= "col-3">
            <h5>Tipo de alojamiento</h5>
            <select class="form-control" id="tipoAlojamiento">
                <option value="">Selecciona una opción</option>
                <option value="estudio">Estudio</option>
                <option value="habitacion">Habitación compartida</option>
                <option value="piso">Piso</option>
                <option value="chalet">Chalet</option>
            </select>
        </div>
        <div class="col-3">
            <h5>Tipo de habitación</h5>
            <select class="form-control" id="tipoCama">
                <option value="">Selecciona el tipo</option>
                <option value="unaCama">Una cama</option>
                <option value="dobleCama">Cama doble</option>
                <option value="dosCama">Más de una cama</option>
            </select>
        </div>
    </div>
</div>

<div class="alojamientos container-fluid mt-5 rounded d-flex flex-row">
    <div class="alojamiento card mb-4 col-4" *ngFor="let alojamiento of arrAlojamiento">
        <img [src]="alojamiento.img" class="card-img-top">
        <a class="card-title" [routerLink]="['/casa']">{{alojamiento.tipo_habitacion}} en {{alojamiento.direccion}}</a>
        <p class="card-text"></p>
        <div class="colum d-flex justify-content-around">
            <p class="card-text"></p>
            <p class="card-text">Fecha:{{alojamiento.fecha_inicio}} a {{alojamiento.fecha_final}}</p>
        </div>
    </div>
</div>
