<div class="bg-light py-3">
    <div class="container-fluid d-flex flex-row">
        <div class="container col-4">
            <h5>Ciudad de destino</h5>
            <select class="form-control" id="destino" (change)="onChangeDestino($event)">
                <option value="">Selecciona una ciudad</option>
                <option value="madrid">Madrid</option>
                <option value="barcelona">Barcelona</option>
                <option value="valencia">Valencia</option>
                <option value="bilbao">Bilbao</option>
                <option value="sevilla">Sevilla</option>
            </select>
        </div>
        <div class="container col-8 mb-3">
            <h5>Duración de la estancia</h5>
            <div class="d-flex flex-row">
                <label class="m-2">Entrada</label>
                <input type="date" class="form-control" min="2020-06-06">
                <label class="m-2">Salida</label>
                <input type="date" class="form-control">
            </div>
        </div>
    </div>
   
    <div class="container d-flex flex-row">
        <div class="container col-3">
            <h5>Tipo de alojamiento</h5>
            <select class="form-control" id="tipoAlojamiento">
                <option value="">Selecciona una opción</option>
                <option value="estudio">Estudio</option>
                <option value="habitacion">Habitación compartida</option>
                <option value="piso">Piso</option>
                <option value="chalet">Chalet</option>
            </select>
        </div>
        <div class="col-3 align-right">
            <h5>Tipo de habitación</h5>
            <select class="form-control" id="tipoCama">
                <option value="">Selecciona el tipo</option>
                <option value="unaCama">Una cama</option>
                <option value="dobleCama">Cama doble</option>
                <option value="dosCama">Más de una cama</option>
            </select>
        </div>
        <div class="col-3">
            <h5></h5>
        </div>
    </div>  
</div>

<div class="container mt-5 rounded col-4">
  <div class="card mb-4">
    <img src="https://static1.abc.es/media/play/2017/09/28/rick-morty-kaJC--1240x698@abc.jpg" class="card-img-top">
    <a class="card-title" [routerLink]="['/casa']">Casa 1</a>
    <p class="card-text"></p>
    <div class="colum d-flex justify-content-around">
      <p class="card-text">Usario: </p>
      <p class="card-text">Fecha:</p>
    </div>
</div>