<section class="container mt-5">
    <div class="shadow-lg p-3 mb-5 bg-white rounded d-flex flex-row">
        <img src="../../assets/images/me2.png" alt=" Foto Alejandro Perez Gonzalez">
        <div class="d-flex flex-column text-align-center m-3">
            <h3>Alejandro Pérez González</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, ipsa aperiam quod autem explicabo
                repudiandae fugit. Eligendi ut est rem adipisci enim cum ullam consequuntur omnis suscipit, veniam,
                tempore explicabo, magni eaque ratione saepe voluptatem dolores id sapiente sed eius harum. Ab neque est
                animi. Minus necessitatibus excepturi dignissimos dolor! Placeat consectetur mollitia expedita nihil
                quia recusandae velit, impedit praesentium!</p>
            <div class="d-flex justify-content-center">
                <a href="https://github.com/AlexPG96" target="_blank"><img src="../../assets/images/github.png"
                        alt="GitHub Alejandro Perez Gonzalez"></a>
                <a href="https://www.linkedin.com/in/alejandro-perez-gonzalez/" target="_blank"><img
                        src="../../assets/images/linkedin.png" alt="LinkedIn Alejandro Perez Gonzalez"></a>
            </div>

        </div>
    </div>
</section>
<section class="container mt-5">
    <div class="shadow-lg p-3 mb-5 bg-white rounded d-flex flex-row">
        <img src="../../assets/images/me2.png" alt=" Foto Pedro Garcia-Talavera Sanchez">
        <div class="d-flex flex-column text-align-center m-3">
            <h3>Pedro García-Talavera Sánchez</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, ipsa aperiam quod autem explicabo
                repudiandae fugit. Eligendi ut est rem adipisci enim cum ullam consequuntur omnis suscipit, veniam,
                tempore explicabo, magni eaque ratione saepe voluptatem dolores id sapiente sed eius harum. Ab neque est
                animi. Minus necessitatibus excepturi dignissimos dolor! Placeat consectetur mollitia expedita nihil
                quia recusandae velit, impedit praesentium!</p>
            <div class="d-flex justify-content-center">
                <a href="https://github.com/PedroG9" target="_blank"><img src="../../assets/images/github.png"
                    alt="GitHub Pedro Garcia-Talavera Sanchez"></a>
            <a href="https://www.linkedin.com/in/pedrogtalavera/" target="_blank"><img
                    src="../../assets/images/linkedin.png" alt="LinkedIn Pedro Garcia-Talavera Sanchez"></a>
            </div>

        </div>
    </div>
</section>
