<div class="m-5 p-5">
    <form novalidate [formGroup]="formResidencia">
        <div class="form-group">
            <label>Encabezado del anuncio</label>
            <input type="text" name="encabezado" class="form-control" formControlName="titulo">
            <p class="error"
                *ngIf="formResidencia.controls.nombre.errors?.required && formResidencia.controls.nombre.touched">El
                campo nombre es requerido.</p>
            <p class="error"
                *ngIf="formResidencia.controls.nombre.errors?.minlength && formResidencia.controls.nombre.touched">El
                campo nombre debe tener una longitud minima de 3 caracteres.</p>
        </div>
        <div class="form-group">
            <label>Dirección</label>
            <input type="text" name="direccion" class="form-control" formControlName="direccion">
        </div>
        <div class="form-group">
            <label>Detalles de la residencia</label>
            <input type="text" name="detalles" class="form-control" formControlName="detalles">
        </div>
        <div class="form-group">
            <label>Descripción de la residencia</label>
            <input type="text" name="descripcion" class="form-control" formControlName="descripcion">
        </div>
        <div class="form-group">
            <label>Imágenes</label>
            <input type="file" name="imagenes" class="form-control" formControlName="imagenes">
            <p class="error"></p>
        </div>
        <input type="submit" value="Enviar" class="mt-5 btn btn-info btn-block">
    </form>
</div>