<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">AppName</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item ml-4 mr-4 active">
                <a class="nav-link" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link" [routerLink]="['/tips']">Tips</a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link" [routerLink]="['/alojamiento']">¿Alojamiento?</a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link" [routerLink]="['/Traductor']">Traductor</a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link" [routerLink]="['/chat']">Chat</a>
            </li>
        </ul>

    </div>
    <button class="btn btn-outline-info dropdown-toggle my-2 my-sm-0 mr-5" type="submit">Perfil</button>
    <img src="" alt="">
</nav>
