<div class="m-5 p-5">
    <form novalidate [formGroup]="formResidencia" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Ciudad</label>
            <select class="form-control" id="ciudad" formControlName="ciudad">
                <option value="">Selecciona una ciudad</option>
                <option value="madrid">Madrid</option>
                <option value="barcelona">Barcelona</option>
                <option value="valencia">Valencia</option>
                <option value="bilbao">Bilbao</option>
                <option value="sevilla">Sevilla</option>
            </select>
        </div>
        <div class="form-group">
            <label>Tipo de alojamiento</label>
            <select class="form-control" id="tipoAlojamiento" formControlName="tipo_alojamiento">
                <option value="">Selecciona una opción</option>
                <option value="estudio">Estudio</option>
                <option value="habitacion">Habitación compartida</option>
                <option value="piso">Piso</option>
                <option value="chalet">Chalet</option>
            </select>
        </div>
        <div class="form-group">
            <label>Tipo de habitación</label>
            <select class="form-control" id="tipoHabitacion" formControlName="tipo_habitacion">
                <option value="">Selecciona el tipo</option>
                <option value="unaCama">Una cama</option>
                <option value="dobleCama">Cama doble</option>
                <option value="dosCama">Más de una cama</option>
            </select>
        </div>
        <div class="form-group">
            <label>Dirección</label>
            <input type="text" class="form-control" placeholder="Introduce la dirección" formControlName="direccion">
        </div>
        <div class="form-group">
            <label>Descripción</label>
            <input type="text" class="form-control" placeholder="Añade una descripcion" formControlName="descripcion">
        </div>
        <div class="form-group">
            <label>Imagen</label>
            <input type="file" class="form-control" (change)="onFileChange($event)" formControlName="img">
        </div>
        <div class="form-group">
            <label>Servicios</label>
            <input type="checkbox" class="form-control" formControlName="lavanderia">
        </div>
        <div class="form-group">
            <label>Cocina</label>
            <input type="checkbox" class="form-control"  formControlName="cocina">
        </div>
        <div class="form-group">
            <label>Baño</label>
            <input type="checkbox" class="form-control" formControlName="baño">
        </div>
        <div class="form-group">
            <label>Fecha de inicio</label>
            <input type="date" class="form-control" formControlName="fecha_inicio">
        </div>
        <div class="form-group">
            <label>Fecha final</label>
            <input type="date" class="form-control" formControlName="fecha_final">
        </div>
        <input type="submit" value="Enviar" class="mt-5 btn btn-info btn-block">
    </form>
</div>