<header>
    <div class="wrapper">
        <div class="boton"></div>
    </div>
    
    <nav class="featured_block--menu-navegacion">
        <ul>
            <li><a [routerLink]="['/home']" routerLinkActive="activa">Home</a></li>
            <li><a [routerLink]="['/tips']">Tips</a></li>
            <li><a [routerLink]="['/alojamiento']">Alojamiento</a></li>
            <li><a [routerLink]="['/chat']">Chat</a></li>
            <li><a [routerLink]="['/login']">Login</a></li>
        </ul>
    </nav>
</header>

<section>
    <h2>Sobre nosotros</h2>
    <div class="nosotros">
        <img src="https://scontent-mad1-1.xx.fbcdn.net/v/t1.0-9/94312921_1249327848731540_8794185352353939456_o.jpg?_nc_cat=103&_nc_sid=8024bb&_nc_ohc=6aIaH81o1S0AX_kXSHI&_nc_ht=scontent-mad1-1.xx&oh=f2639b135a051145126d2afee4c1dd5d&oe=5EFA6388" alt="narciso">
        <p>Informacion sobre nosotros.</p>
    </div>
</section>
<section>
    <h2>Posibles destinos</h2>
    <p>AQUI LA GALERIA DE IMAGENES</p>
</section>

