*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 200px;
    height: 200px;
}

*{
    padding: 0px; 
    margin:0px; 
    box-sizing: border-box;
}


.featured_block--menu-navegacion{
width: 200px;
height: 100vh;
background-color: royalblue;
color: white;
position: absolute;
top: 0px;
float: right;
padding: 30px;
}

.featured_block--menu-navegacion a{
color: white;
}
