/* ABOUT US HOME*/

section #about_usCenter img{
    width: 450px;
    height: 350px;
    margin: 25px;
    justify-content: center;
}

.hero img {
    width: 100vw;
}

.slide img {
    height: 35vw;
}