<div class="container mt-5">
  <div id="accordion">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">
            Tip 1 - Teléfonos de interés
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
          <table class="table">
            <tr>
              <th>Embajada Española</th>
              <th>Policía</th>
              <th>Emergencias</th>
              <th>Consulado de Edimburgo</th>
              <th>Españoles en Londres</th>
            </tr>
            <tr>
              <td>
                <a class="btn btn-primary" href="tel:02075944908">Llamar</a>
                <br>
                <a class="btn btn-primary" href="tel:02075898989">Llamar</a>
              </td>
              <td><a class="btn btn-primary policia" href="tel:101">Llamar al 101</a></td>
              <td>
                <a class="btn btn-danger" href="tel:999">Llamar al 999</a>
                <br>
                <a class="btn btn-danger" href="tel:122">Llamar al 122</a>
              </td>
              <td>
                <a class="btn btn-primary" href="tel:01312201843">Llamar</a>
                <br>
                <a class="btn btn-primary" href="tel:01312201439">Llamar</a>
              </td>
              <td><a href="https://www.facebook.com/groups/espanoleslondres/?ref=group_header" target="_blank"
                  class="facebook"><img src="../../assets/images/facebook.png" alt="Facebook"></a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo">
            Tip 2 - Cosas útiles que llevarte a Reino Unido
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <ul>
            <li><b>Adaptador de enchufe:</b></li>
              <p>En el Reino Unido el voltaje común es 230 V, la frecuencia es 50 Hz, las clavijas y enchufes son del tipo G.</p>
            <li><b>Chubasquero/Paragüas:</b></li>
              <p>Dado las condiciones climatológicas que hay en Reino Unido, es muy recomendable llevarse tanto un chubasquero como un paragüas, que puedas guardar fácilmente en tu mochila.</p>
            <li><b>Pasaporte:</b></li>
              <p>Es recomendable llevar siempre el pasaporte.</p>
            <li><b>Dinero en efectivo:</b></li>
              <p>Es muy recomendable llevarse dinero en efectivo, ya que algunas entidades bancarias cobran comisiones muy altas por el cambio a la hora de sacar dinero con tarjeta.</p>
            <li><b>Tarjeta transporte/Oyster card:</b></li>
              <p><b><i>¡MUY IMPORTANTE!</i></b>, esta tarjeta solo es válida dentro del área de Londres.</p>
              <br>
              <p>Sirve para cualquier tipo de transporte público(tren, metro, autobús, teleférico, etc...).</p>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
            aria-expanded="false" aria-controls="collapseThree">
            Tip 3 - Puntos de interés
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <app-agm-map></app-agm-map>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="titulo_mapa">
    <h2>MAPA DE METRO</h2>
  </div>
  <img  class="mapa_metro" src="../../assets/images/metro_londres.png" alt="mapa de metro de londres">
</div>