<div class="container mt-5">
  <div id="accordion">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">
            Tip 1 - Teléfonos de interés
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
          <table class="table">
            <tr>
              <th>Embajada Española</th>
              <th>Policía</th>
              <th>Emergencias</th>
              <th>Consulado de Edimburgo</th>
              <th>Españoles en Londres</th>
            </tr>
            <tr>
              <td>
                <a class="btn btn-primary" href="tel:02075944908">Llamar</a>
                <br>
                <a class="btn btn-primary" href="tel:02075898989">Llamar</a>
              </td>
              <td><a class="btn btn-primary policia" href="tel:101">Llamar al 101</a></td>
              <td>
                <a class="btn btn-danger" href="tel:999">Llamar al 999</a>
                <br>
                <a class="btn btn-danger" href="tel:122">Llamar al 122</a>
              </td>
              <td>
                <a class="btn btn-primary" href="tel:01312201843">Llamar</a>
                <br>
                <a class="btn btn-primary" href="tel:01312201439">Llamar</a>
              </td>
              <td><a href="https://www.facebook.com/groups/espanoleslondres/?ref=group_header" target="_blank"
                  class="facebook"><img src="../../assets/images/facebook.png" alt="Facebook"></a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo">
            Tip 2
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quisquam officiis eius eaque labore odio
          voluptas necessitatibus perferendis odit possimus deleniti tempore velit consequuntur, voluptatum at maxime
          veniam earum nulla.
          Ducimus neque laborum voluptas dolorum animi non provident cupiditate ipsam eius minima tempore, porro quo
          aspernatur veniam repellat sunt quia expedita rerum consequatur sed vero impedit. Eligendi eveniet eaque
          aliquam!
          Ducimus, temporibus maiores nihil reprehenderit, labore nesciunt, eligendi illo consequatur quidem nemo
          adipisci commodi iure praesentium voluptates quod quaerat? Culpa autem officiis natus deserunt corrupti
          blanditiis. Nobis enim voluptates aspernatur!
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
            aria-expanded="false" aria-controls="collapseThree">
            Tip 3
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quisquam officiis eius eaque labore odio
          voluptas necessitatibus perferendis odit possimus deleniti tempore velit consequuntur, voluptatum at maxime
          veniam earum nulla.
          Ducimus neque laborum voluptas dolorum animi non provident cupiditate ipsam eius minima tempore, porro quo
          aspernatur veniam repellat sunt quia expedita rerum consequatur sed vero impedit. Eligendi eveniet eaque
          aliquam!
          Ducimus, temporibus maiores nihil reprehenderit, labore nesciunt, eligendi illo consequatur quidem nemo
          adipisci commodi iure praesentium voluptates quod quaerat? Culpa autem officiis natus deserunt corrupti
          blanditiis. Nobis enim voluptates aspernatur!
        </div>
      </div>
    </div>
  </div>
</div>